<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos2.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-md mb-4 bg-dark navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{% url 'inicio' %}" style="margin-right: 20px;">
      <img src="{% static 'img/medieval.png' %}" style="display: block; margin-left: auto; margin-right: auto;" height="45 px">
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'inicio' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'crud' %}">CRUD de Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bienvenid@ {{ user.username }}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
          </li>
        {% endif %}    
       
      </ul>
    </div>

  </nav>


  <br>
  <br><br>
    <div class="container">
        <h2>Creando Productos</h2>

        <form  method="POST" action="#" id="formulario" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ producto_form.idProducto.label }}
                {{ producto_form.idProducto }}

            </div>

            <div class="form-group">
                {{ producto_form.nombreProducto.label }}
                {{ producto_form.nombreProducto }}

            </div>

            <div class="form-group">
                {{ producto_form.descripcionProducto.label }}
                {{ producto_form.descripcionProducto }}

            </div>

            <div class="form-group">
              {{ producto_form.imagen.label }}
              {{ producto_form.imagen }}
          </div>

            <div class="form-group">
                {{ producto_form.categoriaProducto.label }}
                {{ producto_form.categoriaProducto }}

            </div>

            <div class="form-group">
              {{ producto_form.precioProducto.label }}
              {{ producto_form.precioProducto }}

          </div>

          <div class="form-group">
            {{ producto_form.stockProducto.label }}
            {{ producto_form.stockProducto }}

        </div>
          <br><br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" id="enviar" value="Enviar">
                <input type="reset" class="btn btn-warning" id="limpiar" value="Limpiar">

            </div>

        </form>


    </div>
    



    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>